
html {
	font-size:62.5%;
  scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140rem;
}.frame-2-U1C {
  background-color: #d9d9d9;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .group-3-b5p {
    align-items: center;
    background-color: #808080;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.4rem 1.6rem 0.6rem 6.1rem;
    width: 100%;
    height: 4.8rem;
    display: flex;

    .group-2-QhU {
      align-items: center;
      flex-shrink: 0;
      margin: 1.1rem 90.7rem 0.8rem 0rem;
      height: calc(100% - 1.9rem);
      display: flex;

      .pixel-6-HFU {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.1rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .overview-LDk {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        color: #ffffff;
        line-height: 1.2125;
        text-decoration-line: underline;
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 2.6rem 0.2rem 0rem;
        font-weight: 400;
      }
      .compare-qAW {
        margin: 0rem 2.8rem 0.2rem 0rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .tech-specs-vSr {
        margin-top: 0.2rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-1-TSn {
      border-radius: 1.2rem;
      flex-shrink: 0;
      width: 7.5rem;
      height: 100%;

      .group-4-anJ {
        display: flex;
        align-items: center;
        height: 100%;
        text-align: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1.2rem;
        background-color: #51a5e5;
        font-size: 1.8rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        width: 100%;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
      }
    }
  }
  .auto-group-kz1l-zLE {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6rem 0rem 0.039rem 0.1rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-5nr4-W3g {
      flex-shrink: 0;
      margin: 0rem 29.2rem 10.4rem 16.4rem;
      width: calc(100% - 45.6rem);
      height: 41.5rem;
      position: relative;

      .prices-QPx {
        box-sizing: border-box;
        height: 38.7rem;
        background-color: #f0f0f0;
        border-radius: 2.5rem;
        padding: 3.9rem 2.5rem 13.5rem 2.5rem;
        width: 33.8rem;
        position: absolute;
        left: 60.5rem;
        top: 0;
        overflow: hidden;

        .mint-new-google-exclusive-Wht {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2rem;
          font-size: 1.2rem;
        }
        .powerful-in-every-way-helpful-every-day-D6W {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 2.5rem;
          max-width: 21.9rem;
        }
        .from-549-j4r {
          white-space: nowrap;
          margin-bottom: 3.9rem;
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .group-1-GKg {
          width: 7.5rem;
          height: 3.8rem;
          border-radius: 1.2rem;

          .group-4-CUE {
            font-family: Inter, 'Source Sans Pro';
            height: 100%;
            line-height: 1.2125;
            color: #ffffff;
            width: 100%;
            font-size: 1.8rem;
            font-weight: 400;
            display: flex;
            align-items: center;
            text-align: center;
            white-space: nowrap;
            justify-content: center;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #51a5e5;
            border-radius: 1.2rem;
          }
        }
      }
      .pixel-6-group-image-transparent-1-aFp {
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 62.3rem;
        height: 41.5rem;
        position: absolute;
        left: 0;
      }
    }
    .group-6-ciJ {
      width: 139.6rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 0rem 10.421rem 0.3rem;

      .tech-specs-Y6A {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 1.2rem 2.831rem 0rem;
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
      }
      .group-5-TU2 {
        width: 100%;
        height: 96.8475rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-10-QeA {
          background-color: #ffffff;
          width: 139.6rem;
          height: 96.8475rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .rectangle-3-MZQ {
          object-fit: cover;
          vertical-align: top;
          width: 124.244rem;
          height: 20.7655rem;
          position: absolute;
          left: 12.7385rem;
          top: 3.141rem;
        }
        .rectangle-5-Hhx {
          vertical-align: top;
          width: 124.244rem;
          height: 20.94rem;
          position: absolute;
          left: 12.7385rem;
          top: 23.9065rem;
          object-fit: cover;
        }
        .rectangle-7-n8v {
          height: 21.638rem;
          position: absolute;
          left: 12.7385rem;
          top: 75.2095rem;
          object-fit: cover;
          vertical-align: top;
          width: 124.244rem;
        }
        .rectangle-6-7wt {
          height: 30.363rem;
          position: absolute;
          left: 12.7385rem;
          top: 44.8465rem;
          object-fit: cover;
          vertical-align: top;
          width: 124.244rem;
        }
      }
    }
    .group-7-qst {
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      align-items: center;
      display: flex;

      .compare-1Ga {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 4.245rem 2.807rem;
        font-size: 2.8rem;
        font-weight: 700;
      }
      .rectangle-8-8c6 {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 139.9rem;
        height: 70.7162rem;
      }
    }
  }
}
